.layout-side-section{
    background-color: royalblue !important;
    color: #fff !important;
}
  
  .module-section {
    font-size: 14px;
    color: #333;
  }
  
  .module-section .section-head {
    font-weight: bold;
    color: #007bff;
  }
  